DB_URL=jdbc:mysql://localhost:3306/chat_event_sourcing?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
DB_USERNAME=chat_app
DB_PASSWORD=chat_app_password
MYSQL_ROOT_PASSWORD=root_password_for_local_only
MYSQL_DATABASE=chat_event_sourcing
MYSQL_USER=chat_app
MYSQL_PASSWORD=chat_app_password
SERVER_PORT=8080
RESTORE_DEFAULT_MESSAGE_LIMIT=100
SNAPSHOT_EVENT_INTERVAL=100
