DB_URL=jdbc:mysql://localhost:3307/resc_chat?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
DB_USERNAME=resc_app
DB_PASSWORD=change-this-app-password
MYSQL_ROOT_PASSWORD=change-this-root-password
MYSQL_DATABASE=resc_chat
MYSQL_USER=resc_app
MYSQL_PASSWORD=change-this-app-password
MYSQL_PORT=3307
SERVER_PORT=8080
RESTORE_DEFAULT_MESSAGE_LIMIT=100
SNAPSHOT_EVENT_INTERVAL=100
